{% extends 'base/menu.html'%}
{% load static %}


{% block content %}
<style>
    .donation-w{
        margin: 0 auto;
    }
</style>
<div class="container">
    <div style="width:300px;" class="card my-3 donation-w">
        <div class="card-body">
            <h5>Achete moi un pourboire</h5>
            <h1 style="font-size:150px; text-align: center;">5$</h1>
            <p>Si je vous aide dans le bon chemin, vous me paierai un pour boire.</p>
            <div id="paypal-button-container"></div>

        </div>
    </div>

</div>
<script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>
<script>
    paypal.Buttons({
        style:{
            color:'blue',
            shape:'pill',
            label:'pay',
            height:40
        }
    }).render('#paypal-button-container');
</script>
{% endblock %}