{% load static %}

<section class="nav-bar">
    <a class="nav-link" href="{% url 'home' %}">Acceuil</a>
    {% if request.user.is_authenticated %}
        <a class="nav-link" href="{% url 'inbox'%}">Inbox </a>
        <a class="nav-link" href="{% url 'ajout'%}">Ajoute-projet</a>
        <a class="nav-link" href="{% url 'skill'%}">Ajoute-skill</a>
        <a class="nav-link" href="{% url 'chart'%}">Vote</a>

        <a class=" btn btn-info btn-sm nav-link" href="{% url 'boire' %}">Achete moi du caffé</a>
    {% endif %}

</section>
